/* Custom Body Style */
/* ------------------------------------------------------------*/
html,
body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Custom Wrapper  and Body Styles*/
/* ------------------------------------------------------------*/
.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page-body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Custom Icon Styles for Icons */
/* ------------------------------------------------------------*/
.skillicon {
    width: 36px;
    height: 36px;
}

/* Button Like styles for Links*/
/* ------------------------------------------------------------*/
.tableBlogs a {
    display: block;
    margin: 1rem 0px;
    padding-left: 30px;
    border-left: 6px solid crimson;
}

    table a:hover h3, table a:hover p {
        color: crimson;
    }

a:hover h3 {
    text-decoration: underline;
}

a.bloga {
    text-decoration: none;
    color: black;
}


/* Custom Table Style with Fixed Header */
/* ------------------------------------------------------------*/
.Table {
    border-collapse: separate;
    border-spacing: 0;
}

.defaultHeader {
    position: sticky !important;
    top: 0 !important;
}

.table > :not(caption) > * > *{
    border:none;
}